.wpc-h2 {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #1082c8;
    margin-bottom: 20px !important;
}

.underline {
    border-bottom: 2px solid #1082c8;
    width: 35%;
}

.external-link {
    color: #1082c8;
}

.wpc-btn-blue {
    background-color: #1082c8 !important;
}

.wpc-flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#submit-crawl {
    margin-top: 12px;
}

#submit-results {
    margin-right: 10px;
}
